/* Basic Style */
.wrapper {
  min-height: 100vh;
  font-family: "Lato", sans-serif;

  background-color: #f8f8f8;
  color: #333333;
}
.information {
  display: block;
  width: 500px;
  margin: 0px auto;
  text-align: right;
}
.information .information__image {
  width: 100%;
}
.information .information__link {
  font-family: "fantasy", cursive;
}
@media (max-width: 768px) {
  .information {
    text-align: center;
  }
}
.content {
  display: block;
  width: 500px;
  margin: 0px auto 0px;
}
.task__form {
  display: flex;
}
.task {
  display: inline-block;
  width: 56%;
  flex-grow: 1;
}
.task__list {
  margin: 0px;
  padding: 0px;
}
.task__item,
.title {
  list-style: none;
}
.input,
.button {
  outline: none;
}
.button {
  width: 60px;

  font-family: "Lato", sans-serif;
  font-size: 15px;

  color: #888888;
  background: none;
  border: 0px;
  cursor: pointer;
}
.button:hover {
  color: #3a3a3a;
}

/* Heading */
.title {
  margin: 0px;
  padding: 30px 0px 10px;

  font-size: 15px;
  font-weight: 700;

  color: #333333;
  border-bottom: 2px solid #333333;
  text-transform: uppercase;
}
.input_text {
  height: 21px;
  margin: 0px;
  padding: 0px 9px;

  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 18px;

  color: #888888;
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 6px;
}
.input_text:focus {
  color: #333333;
}

/* New Task */
.content__add .title {
  display: block;
  margin: 0px 0px 20px;
}
#new-task {
  width: 318px;
}

/* Task list */
.task__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;

  border-bottom: 1px solid #eeeeee;
  overflow: hidden;
}
.task__item > * {
  vertical-align: middle;
}
.task__item > .input_checkbox {
  margin: 0px 10px;
}
.task__item > .label {
  width: 226px;
  padding-left: 10px;

  font-size: 18px;

  box-sizing: border-box;
}
.task__item > .input_text {
  width: 226px;
}
.button_delete .image__remove {
  height: 2em;

  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.button_delete .image__remove:hover {
  transform: rotateZ(0deg);
}

/* Completed */
#completed-tasks .label {
  color: #888888;
  text-decoration: line-through;
}

/* Edit Task */
.task__list .task__item .input_text {
  display: none;
}
.task__list .task__item.edit-mode .input_text {
  display: inline-block;
  width: 224px;
}
.task__list .task__item.edit-mode .label {
  display: none;
}